@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Merriweather&display=swap');

body {
  @apply bg-white text-gray-800;
  font-family: 'Inter', sans-serif;
}
